#cache {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}
.center {
    text-align: center;
}
#cache i {
    font-size: 3em;
    color: #FFF;
    animation: spin 1s linear infinite;
}

.dnone {
    display: none !important;
}

.navbar {
    margin-bottom: 3vh;
}

.page-item.active a {
    background-color: #3f4246 !important;
    border-color: #adb4bb !important;
    color: #d3d3d3 !important;
}

.page-link {
    color: #3b4754 !important;
}
.form-control:focus {
    border-color: #172739 !important;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important;
}

#allData i {
    font-size: 1.2em;
}

#allData .fa-pencil-alt {
    padding-right: 15%;
    padding-left: 15%;
}

#allData .fa-times,
#allData .fa-pencil-alt
{
    cursor: pointer;
}

#allData .fa-times:hover,
#allData .fa-pencil-alt:hover
{
    color: red;
}

.fright {
    float: right;
}

/* KEYFRAMES */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dnone {
    display: none !important;
}